body{
  z-index: 0;

  margin:0;
  background-color:orange;
}

#mainhead{
  z-index: 1;

  /*bacground settings*/
  margin:10px 20px 10px 20px;
  display: block;
  background-color: rgb(230, 103, 0);
  box-shadow: 3px 3px 5px rgb(126, 57, 0);
  overflow: hidden;

  /*border settings*/
  border-radius: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(230, 103, 0);

  /*text settings*/
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*#region intro*/

#intro{
  z-index: 1;

  /*background settings*/
  display: block;
  margin: 10px 20px 10px 20px;
  width: auto;
  height: 480px;
  background-color: rgb(0, 68, 131);
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(1, 50, 95);
  overflow: auto;

  /*text settings*/
  font-size: 20px;
  color: white;
  text-overflow: ellipsis;
  padding: 10px 10px 10px 10px;
}

#intro img{
  z-index: 2;

  /*size of image*/
  width: 200px;
  height: 200px;
  max-width: 50%;
  max-height: 50%;

  /*position*/
  margin:0px 10px 10px 0px;
  border-radius: 10px; 
}

#intro a{
  text-decoration:none;
  color: white;
  border-style: dashed;
  border-radius: 5px;
  border-color: rgb(49, 155, 255);
}

#intro a:hover{
  border-color: white;
  color: orange;
}

/*#endregion*/

/*#region firstplay*/

#firstplay{
  z-index: 1;

  /*background settings*/
  display: block;
  margin: 10px 20px 10px 20px;
  width: auto;
  height: 500px;
  background-color: rgb(190, 60, 0);
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(94, 30, 0);
  overflow: auto;
}

#firstplay h2{
  z-index: 2;

  /*font settings*/
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  
  /*background*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 180px;
  box-shadow: 3px 3px 3px rgb(94, 30, 0),-3px 3px 3px rgb(94, 30, 0);
}

#originpi1{
  z-index: 2;

  /*size*/
  width: 450px;
  height: 400px;
  background-color: white;

  /*background*/
  border-style: ridge;
  border-width: 5px;
  border-radius: 10px;
}

#originpi2{
  z-index: 2;

  /*size*/
  width: 450px;
  height: 400px;
  background-color: white;

  /*background*/
  border-style: ridge;
  border-width: 5px;
  border-radius: 10px;
}

#originpiinput{
  z-index: 2;

  /*background*/
  border-style: solid;
  border-width: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 95%;
  height: 380px;
}

#originpiinput label{
  z-index: 3;

  /*style*/
  display: inline-block;
  border-style: hidden;

  /*background*/
  margin-top: 10px;
  width: 100%;
  height: 30px;

  /*font*/
  font-size: 20px;
  text-align: center;
  font-weight: 600;
}

#originpiinput #radiastext{
  z-index: 3;

  /*background*/
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 30px;

  /*style*/
  background-color: rgb(126, 57, 0);
  color: white;
  font-size: 20px;
  text-align: center;
  border-style: hidden;
}

#originpiinput #sidetext{
  z-index: 3;

  /*background*/
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 30px;

  /*style*/
  background-color: rgb(126, 57, 0);
  color: white;
  font-size: 20px;
  text-align: center;
  border-style: hidden;
}

#originpiinput #submit{
  z-index: 3;

  /*position*/
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 40px;

  /*style*/
  display: block;
  background-color: rgb(190, 60, 0);
  box-shadow: -5px -5px 5px rgb(94, 30, 0) inset,5px -5px 5px rgb(94, 30, 0) inset;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  border-radius: 10px;
}

/*#endregion*/

/*#region secondplay*/

#secondplay{
  z-index: 1;

  /*background settings*/
  display: block;
  margin: 10px 20px 10px 20px;
  width: auto;
  height: 450px;
  background-color: rgb(112, 180, 1);
  border-radius: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: rgb(64, 104, 0);
  overflow: auto;
}

#secondplay h2{
  z-index: 2;

  /*font settings*/
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  
  /*background*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 350px;
  box-shadow: 3px 3px 3px rgb(64, 104, 0),-3px 3px 3px rgb(64, 104, 0);
}

#secondplay #searchtext{
  z-index: 2;

  /*background*/
  display: block;
  border-style: hidden;
  background-color: rgb(64, 104, 0);
  margin-top: 10px;
  margin-left: calc(50% - 200px);
  margin-right: auto;
  width: 400px;
  float: left;
  
  /*font settings*/
  font-size: 25px;
  text-align: center;
  color: white;
}

#searchtext:focus ~ #tenmillionpi{
  filter: blur(5px);
}

#secondplay #searchbutton{
  z-index: 2;

  /*size*/
  float: left;
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 50px;
  height: 30px;
  width: 100px;
  padding: 0;

  /*style*/
  font-size: 25px;
  background-color: rgb(64, 104, 0);
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 20px;
}

#tenmillionpi{
  z-index: 2;

  /*size*/
  display: block;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  width: 1330px;
  height: 180px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  background-color: rgb(6, 70, 0);
  border-radius: 30px;
  
  /*font*/
  font-size: 160px;
  color: white;
}

#secondplay #control{
  z-index: 2;

  /*size*/
  width: 1000px;
  height:60px; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
} 

#secondplay #loadProgress{
  z-index: 3;
  /*style*/
  width: 500px;
  margin:10px 50px 10px 50px;
  float: left;
  background-color: rgb(6, 70, 0);
}

#secondplay #bar{
  z-index: 4;
  margin-top: 0;
  height: 40px;
  width: 0;
  background-color: rgb(112, 180, 1);
  text-align: center;
  font-size: 25px;
}

#secondplay #buttons{
  z-index: 3;

  /*size*/
  float: left;
  width: 200px;
  height: 60px;

  /*style*/
  border-radius: 20px;
  border: none;
  font-size: 35px;
}

#secondplay #buttons:hover{
  color: white;
  background-color: rgb(6, 70, 0);
}

/*#endregion*/



#pageend{
  z-index: 1;

  /*background*/
  display: block;
  background: linear-gradient(to right,orange,black,orange);
  margin-top: 5px;
  margin-bottom: 0px;
  border-style: solid;
  border-color: rgb(230, 103, 0);
  border-width: 3px;

  /*font setting*/
  font-size: 30px;
  text-align: center;
  color: white;
  text-shadow: 3px 3px 4px orange;
  overflow: hidden;
}
