body{
    display: block;
}

#button{
    display: block;
    border-radius: 10px;
    float: left;
    margin-left: 20px;
}

.buttons{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#boxes{
    display: block;
    background-color: rgb(36, 0, 156);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.box{
    display: block;
    border: none;
    background-color: #18bb98;
    float: left;
    text-align: center;
}

.sortButtons{
    border-style: dashed;
    border-width: 5px;
    margin-left: 20%;
    margin-right: 20%;
}

span{
    margin-left: 1%;
    margin-right: 1%;
    font-weight: bold;
    text-align: center;
    width: 48%;
    display: block;
    float: left;
}

span:hover{
    background-color: darkgray;
}