body {
    /*Background Properties*/
    background-color:beige;
    z-index:0;
}

hr{
    margin-left:20px;
    margin-right:20px;
}

a{
    text-decoration:none;
    color:brown
}

h{
    z-index:3;
    font-size:25px;
    font-weight:bold;
    text-shadow:2px 2px 2px #000000;
    color:#ffffff;
    padding-top:20px;
}

#HeadTitle {
    margin: 0;
    z-index:1;

    /*Text Properties*/
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 0 3px 2px #a1983f;

    /*Background Properties*/
    display: block;
    background: linear-gradient(to right,beige,burlywood,beige);
}

.SimpleInfo {
    z-index: 1;
    /*Background Properties*/
    display: block;
    background-image: url("Pictures/HeaderBkg.jpg");
    background-color: burlywood;
    background-size: cover;
    opacity: 0.8;

    /*Scale and Rounded Corner*/
    height: 500px;
    border-radius: 30px;
}

.SimpleInfo #InfoImage {
    /*Image Properties*/
    border-radius: 50%;
    max-height: 40%;
    max-width: 40%;
    /*border-style: dashed;
    border-color: brown;*/
    margin-top: 60px;
    box-shadow: 3px 3px 5px #808080;
    background-color:white;

    /*Set To Front*/
    z-index: 2;
}

.SimpleInfo #InfoPara {
    z-index:2;

    /*Box Properties*/
    border-radius: 40%;
    border: double;
    border-width: 5px;
    border-color: bisque;
    max-width:700px;
    background:burlywood;
    margin-top: 60px;
    box-shadow: 2px 2px 3px #808080 inset;

    /*Text Properties*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: italic;
    text-align: center;
    overflow:hidden;
}

